%link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css", integrity: "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin: "anonymous" }
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
%meta{ name:"viewport", content: "width=600" }
:css
  th, td {
    text-align: center;
  }

  .name, .abbreviation {
    text-align: left;
  }

  .name {
    font-variant: small-caps;
    font-style: italic;
  }
  
  td {
    font-size: 25px;
  }

  .table td, .table th {
    padding: 0.55rem;
  }

  .caption {
    font-style: italic;
    font-size: 32px;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 2.5rem;
    vertical-align: middle;
    background: #fa6bff;
    height: 3rem;
    padding: .25rem;
    text-shadow: -2px 2px deeppink;
  }

  .table-wrapper {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  * {
    font-family: 'Lato', sans-serif;
  }

.caption Hampden Holy Rollers
.table-wrapper
  %table.table.table-striped
    %thead
      %tr 
        %th 
        %th 
        %th W
        %th L
        %th PF
        %th PA
        %th Diff 
        %th Last 3
        %th Streak
    %tbody 
      -@teams.sort_by(&:wins).reverse.each do |team|
        %tr
          %td.abbreviation= team.abbreviation
          %td.name= team.name
          %td= team.wins
          %td= team.losses
          %td= team.points_for
          %td= team.points_against
          %td= team.points_diff
          %td= team.last(3)
          %td= team.streak